.layout__container {
    display: flex;
}

.layout__container_align_center {
    justify-content: center;
}

.layout__container_size_s {
    max-width: 880px;
}

.layout__container_size_m {
    max-width: 1144px;
}