.layout {
    &__container {
        display: flex;

        &_align_center {
            justify-content: center;
        }

        &_size {
            &_s {
                max-width: 880px;
            }
            &_m {
                max-width: 1144px;
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }
            &_xxxxxl {
                padding-top: var(--space-xxxxxl);
                padding-bottom: var(--space-xxxxxl);
            }
        }

        &_indent-b {
            &_xxl {
                margin-bottom: var(--space-xxl);
            }
            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }
    }
}
