// @import "../../blocks/theme/theme";
// @import "../../blocks/layout/layout.css";
// @import "../../blocks/text/text.css";
// @import "../../blocks/payment/payment.css";
@import "../../blocks/**/*.scss";