.card {
    &_border {
        &_all {
            border: 1px solid var(--border-color);
        }
    }

    &_view {
        &_default {
            background-color: var(--default-bg-color);
        }
    }

    &__content {
        display: flex;
        &_distribute {
            &_center {
                justify-content: center;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
        }
        &_space-a {
            &_m {
                padding: var(--space-m);
            }
            &_l {
                padding: var(--space-l);
            }
            &_xl {
                padding: var(--space-xl);
            }
            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }

    &__footer {
        display: flex;
        &_distribute {
            &_distribute_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: flex-end;
            }
        }
        &_vertical-align {
            &_center {
                align-items: center;
            }
            &_top {
                align-items: flex-start;
            }
            &_bottom {
                align-items: flex-end;
            }
        }
        &_space-a {
            &_m {
                padding: var(--space-m);
            }
            &_l {
                padding: var(--space-l);
            }
            &_xl {
                padding: var(--space-xl);
            }
            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}
