.grid {
    display: grid;
    &_m-columns {
        &_12 {
            grid-template-columns: repeat(12, 8.33%);
        }
        &_10 {
            grid-template-columns: repeat(10, 8.33%);
        }
    }
    &_col-gap {
        &_two-thirds {
            grid-gap: 5.5%;
        }
        &_full {
            grid-gap: 5.5%;
        }
    }
}
// .grid_xs-columns_3 {
//     --grid-columns: 3;
// }

// .grid_s-columns_3 {
//     --grid-columns: 3;
// }

// .grid_s-columns_6 {
//     --grid-columns: 6;
// }

// .grid_m-columns_12 {
//     --grid-columns: 12;
// }

// .grid_m-columns_10 {
//     --grid-columns: 10;
// }

// .grid_col-gap_two-thirds {
//     --col-gap: 66.6%;
// }

// .grid_col-gap_full {
//     --col-gap: 100%;
// }

// .grid_row-gap_half {
//     --row-gap: 50%;
// }

// .grid_row-gap_full {
//     --row-gap: 100%;
// }

// .grid__fraction {
//     display: grid;
// }

// .grid__fraction_xs-col_3 {
//     --elem-columns: 3;
// }

// .grid__fraction_m-col_2 {
//     --elem-columns: 2;
// }

// .grid__fraction_m-col_3 {
//     --elem-columns: 3;
// }

// .grid__fraction_m-col_4 {
//     --elem-columns: 4;
// }

// .grid__fraction_m-col_5 {
//     --elem-columns: 5;
// }

// .grid__fraction_m-col_8 {
//     --elem-columns: 8;
// }