.grid {
    display: grid;
    &_m-columns {
        &_12 {
            grid-template-columns: repeat(12, 1fr);
        }
        &_10 {
            grid-template-columns: repeat(10, 1fr);
        }
    }
    &_col-gap {
        &_two-thirds {
            grid-column-gap: calc(2 / 3 * var(--gap));
        }
        &_half {
            grid-column-gap: calc(0.5 * var(--gap));
        }
        &_full {
            grid-column-gap: var(--gap);
        }
    }
    &_row-gap {
        &_half {
            grid-row-gap: calc(0.5 * var(--gap));
        }
        &_full {
            grid-row-gap: var(--gap);
        }
    }
    @media (min-width: 1144px){
        &__fraction {
            &_m-col {
                &_2 {
                    grid-column: auto / span 2;
                }
                &_3 {
                    grid-column: auto / span 3;
                }
                &_4 {
                    grid-column: auto / span 4;
                }
                &_5 {
                    grid-column: auto / span 5;
                }
                &_8 {
                    grid-column: auto / span 8;
                }
            }
        }
    }
}
// .grid_xs-columns_3 {
//     --grid-columns: 3;
// }

// .grid_s-columns_3 {
//     --grid-columns: 3;
// }

// .grid_s-columns_6 {
//     --grid-columns: 6;
// }

// .grid_m-columns_12 {
//     --grid-columns: 12;
// }

// .grid_m-columns_10 {
//     --grid-columns: 10;
// }

// .grid_col-gap_two-thirds {
//     --col-gap: 66.6%;
// }

// .grid_col-gap_full {
//     --col-gap: 100%;
// }

// .grid_row-gap_half {
//     --row-gap: 50%;
// }

// .grid_row-gap_full {
//     --row-gap: 100%;
// }

// .grid__fraction {
//     display: grid;
// }

// .grid__fraction_xs-col_3 {
//     --elem-columns: 3;
// }

// .grid__fraction_m-col_2 {
//     --elem-columns: 2;
// }

// .grid__fraction_m-col_3 {
//     --elem-columns: 3;
// }

// .grid__fraction_m-col_4 {
//     --elem-columns: 4;
// }

// .grid__fraction_m-col_5 {
//     --elem-columns: 5;
// }

// .grid__fraction_m-col_8 {
//     --elem-columns: 8;
// }