.text_align_center {
    text-align: center;
}

.text_size_s {
    height: var(--font-height-s);
}

.text_size_m {
    height: var(--font-height-m);
}

.text_size_l {
    height: var(--font-height-l);
}

.text_size_xl {
    height: var(--font-height-xl);
}

.text_size_xxl {
    height: var(--font-height-xxl);
}

.text_type_h1 {
    margin: 15px 0 21px;
}

.text_type_h2 {
    margin: 48px 0 20px;
}

.text_type_h3 {
    margin: 43px 0 0;
}

.text_type_p {
    margin: 15px 0 21px;
}

.text_view_primary {
    color: var(--primary-text-color);
}

.text_view_secondary {
    color: var(--secondary-text-color);
}

.text_view_ghost {
    color: var(--ghost-text-color);
}

.text_view_link {
    color: var(--link-text-color);
}
/* 
TODO: 
уточнить у автора репозитория непонятные вещи
.text__word_width_s {
    
} */

