.theme_color_project-default {
    --default-bg-color: #FFFFFF;
    --accent-bg-color: #0056B3;
    --border-bg-color: #000000;
    --primary-text-color: #000000;
    --secondary-text-color: rgba(0, 0, 0, 0.6);
    --additional-text-color: rgba(0, 0, 0, 0.3);
    --link-text-color: #0070f0;
}

.theme_color_project-brand {
    --default-bg-color: #0070f0;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color: #FFFFFF;
}


.theme_color_project-inverse {
    --default-bg-color: #000000;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color: #0070f0;
}

.theme_color_project-warning {
    --default-bg-color: #FF9900;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color: #FFF;
}

.theme_color_megafon-brand {
    --default-bg-color: #1FA55D;
    --accent-bg-color: #FFFFFF;
    --border-bg-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color: #FFF;
}

.theme_size_default {
    --font-height-s: 7px;
    --font-height-m: 8px;
    --font-height-l: 10px;
    --font-height-xl: 11px;
    --font-height-xxl: 13px;
    --font-line-height-s: 18px;
    --font-line-height-m: 21px;
    --font-line-height-l: 25px;
    --font-line-height-xl: 28px;
    --font-line-height-xxl: 34px;
}

.theme_space_default {
    --space-xxxs: 2px;
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-xxl: 32px;
    --space-xxxl: 40px;
    --space-xxxxl: 48px;
}

@media only screen and (max-width: 1144px) {
    .theme_breakpoint_default {
        flex-direction: column;
    }
}

.theme_gap_small {
    --gap: 32px;
    @media only screen and (max-width: 1144px) {
        --gap: 16px;
    }
}