.text_size {
    &_s {
        height: var(--font-height-s);

        --word-width-s: 20px;
        --word-width-m: 48px;
        --word-width-l: 100px;
        --word-height: 7px;
    }
    &_m {
        height: var(--font-height-m);

        --word-width-s: 24px;
        --word-width-m: 56px;
        --word-width-l: 114px;
        --word-height: 8px;
    }
    &_l {
        height: var(--font-height-l);

        --word-width-s: 28px;
        --word-width-m: 68px;
        --word-width-l: 138px;
        --word-height: 10px;
    }
    &_xl {
        height: var(--font-height-xl);

        --word-width-s: 32px;
        --word-width-m: 74px;
        --word-width-l: 154px;
        --word-height: 11px;
    }
    &_xxl {
        height: var(--font-height-xxl);

        --word-width-s: 36px;
        --word-width-m: 88px;
        --word-width-l: 184px;
        --word-height: 13px;
    }
}